* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc; 
}

a {
  color: inherit;
  text-decoration: none;
}

/* 1. Style Dasar Link Menu */
.nav-link-custom {
  color: #495057 !important; 
  transition: all 0.2s ease-in-out;
  font-weight: 500; 
}

/* 2. Efek HOVER */
.nav-link-custom:hover {
  background-color: #0d6efd !important;
  color: white !important; 
  transform: translateX(5px); 
}

/* 3. State ACTIVE */
.nav-link-custom.active {
  background-color: #0d6efd !important;
  color: white !important;
  box-shadow: 0 4px 6px -1px rgba(13, 110, 253, 0.2); 
}

/* 4. Khusus Tombol KELUAR */
.nav-link-logout {
  color: #dc3545 !important; 
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

/* Efek HOVER untuk tombol Keluar  */
.nav-link-logout:hover {
  background-color: red !important; 
  color: white !important;
  transform: translateX(5px);
}